/* CSS Variables */

body {
  --color-text: rgb(40, 30, 30);
  --color-text-sub: rgba(40, 30, 30, .7);
  --color-text-theme: rgb(255, 255, 255);
  --color-text-disabled: rgba(40, 30, 30, .3);
  --color-background: rgb(233, 230, 232);
  --color-button: rgba(255, 255, 255, .3);
  --color-button-strong: rgba(255, 255, 255, .7);
  --color-button-theme: rgb(235, 100, 120);
  --color-button-hover: rgba(40, 30, 30, .1);
  --color-inner-shadow: rgba(40, 30, 30, .1);

  --space-xxl: 2rem;
  --space-xl: 1.75rem;
  --space-l: 1.5rem;
  --space-r: 1rem;
  --space-s: .5rem;
  --space-xs: .25rem;
  --space-xxs: .1rem;

  --time-short: .1s;
  --time-long: .2s;

  --shadow-inner: 0 0 0 var(--space-xs) var(--color-inner-shadow) inset;
}
