/* Aside Wrapper */

#asideWrapper {
  width: 0;
  flex-grow: 0;
  overflow-x: hidden;

  transition-property: width, flex-grow;
  transition-duration: var(--time-long);

  @include media-desktop-only {
    width: 10rem;
    flex-grow: 1;
  }
}


/* History Wrapper and Memory Wrapper */

#historyWrapper, #memoryWrapper {
  position: relative;
  left: 0;
  opacity: 1;

  transition-duration: var(--time-long);
}

#asideWrapper {
  &:not(.memory_shown) #memoryWrapper {
    pointer-events: none;
    opacity: 0;
    left: var(--space-xl);
  }

  &:not(.memory_clicked) #memoryWrapper {
    display: none;
  }

  &:not(.history_shown) #historyWrapper {
    pointer-events: none;
    opacity: 0;
    left: calc(-1 * var(--space-xl));
  }

  &:not(.history_clicked) #historyWrapper {
    display: none;
  }
}


/* History Item and Memory Item */

#historyWrapper > button.historyItem,
#memoryWrapper > button.memoryItem {
  position: relative;
  top: 0;
  display: block;

  width: 100%;
  height: 4rem;

  border: 0;
  background: transparent;

  transition-property: color, font-size, top, padding, background-color, box-shadow;
  transition-duration: var(--time-short);

  &:hover, &:focus {
    background-color: var(--color-button-hover);
  }
}

#historyWrapper > button.historyItem > p.historyTextSub,
#historyWrapper > button.historyItem > p.historyTextMain,
#memoryWrapper > button.memoryItem > p.memoryText {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  text-align: right;
  white-space: nowrap;

  border: 0;
  background: transparent;

  transition-property: margin-bottom, padding-right, font-size, height;
  transition-duration: var(--time-long);
}

#historyWrapper > button.historyItem > p.historyTextSub {
  font-size: .7rem;
  color: var(--color-text-sub);
}

#historyWrapper > button.historyItem > p.historyTextMain,
#memoryWrapper > button.memoryItem > p.memoryText {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}
