/* Basic Button Settings */

button:not(:disabled) {
  border: 0;
  background: transparent;

  transition-duration: var(--time-short);

  &:hover, &:focus {
    box-shadow: var(--shadow-inner);
  }

  &:active {
    top: var(--space-xxs) !important;
  }
}

button:disabled {
  color: var(--color-text-disabled) !important;
}
