@import "./config";


/* Memory Buttons Wrapper */

#mainMemoryBtnWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: var(--space-xxs);

  & > button {
    position: relative;
    top: 0;
    padding: var(--space-s) var(--space-r);
    border: 0;
    background: transparent;

    color: var(--color-text);
    font-size: .75rem;

    transition-duration: var(--time-short);
  }
}
